spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${PROD_DB_URL}
    username: ${PROD_DB_USER}
    password: ${PROD_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
    open-in-view: false

jwt:
  secret:
    key: ${JWT_SECRET_KEY}

social:
  redirect-uri:
    kakao: http://3.36.51.62/api/login/kakao